@font-face{
    font-family: 'GilroyBold';
    src: url("../fonts/Gilroy-ExtraBold.otf");
    font-style: regular;
    font-display: swap;
    font-weight: 600;
  }
  @font-face{
    font-family: 'GilroyLight';
    src: url("../fonts/Gilroy-Light.otf");
    font-style: regular;
    font-display: swap;
    font-weight: 600;
  }
.informationLine img{
    height: 100px;
    width: 100px;
}

.wrapperLine{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 100px;
    align-content: flex-start;
    justify-content: space-around;
}
@media screen  and (max-width: 1100px){
    .wrapperLine{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 100px;
    justify-content: center;
    align-content: stretch;
    }
   .infoWrapperLine {display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;}
}
.informationLine{
    display: flex;
    
}
@media screen  and (max-width: 490px){
    .informationLine{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrapperLine{
        display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 100px;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    }
    .descriptionInfo ul{
        margin: 0px;
        padding: 0px;
    }
}

.descriptionName{
    font-family: 'GilroyBold';
    color: #F4EDE4;
    font-size: 30px;
}
.descriptionInfo{
    font-family: 'GilroyLight';
    color: #F4EDE4;
}
.descriptionInfo li{
    font-family: 'GilroyBold';
    color: #F4EDE4;
    list-style-type: none; 
    font-size: 15px;

}
.descriptionInfo li span{
    font-family: 'GilroyLight';
    color: #F4EDE4;
}
.wrapperLineFooterImg{
    width: 292px;
    height: 436px;
}
.infoWrapperLine{
    display: flex;
    flex-direction: column;

}
